#画像ファイル
*.jpg
*.jpeg
*.gif
*.png
*.pdf

*.ico
google*.html

#開発環境ログフォルダ
/log/

#DB接続情報
/dbip.php

#smtp接続情報
/mailip.php

#トピックス添付画像格納内容
/topic_pics/*

#アップロードファイル格納内容
/hangar/*

#メール送信ログ
/gimmicks/log/*

#テスト用
/phpinfo.php
